@model IEnumerable<WEBIMOB.ViewModel.ImovelPermutaModel>


<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.ClienteComprador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imovel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteVendedor)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
               
                <td>
                    @Html.DisplayFor(modelItem => item.ClienteComprador)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Imovel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClienteVendedor)
                </td>
            </tr>
        }
    </tbody>
</table>

