@model IEnumerable<ImoveisCompativeisViewModel>



    <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imovel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClienteOferta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Proprietario)
            </th>
            
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Imovel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClienteOferta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Proprietario)
            </td>
                
            
        </tr>
}
    </tbody>
</table>
@*<table>
    <thead>
        <tr>
            <th>Cliente</th>
            <th>Imóvel</th>
            <th>Valor</th>
            <th>Proprietário</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
                <tr>
                    <td>@item.Cliente</td>
                    <td>@item.Imovel</td>
                <td>@item.ClienteOferta</td>
                    <td>@item.Proprietario</td>
                </tr>
        }
    </tbody>
</table>*@
